<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>


<!--
Del primer componente de prueba
<div class="elem">
  <h2>Creating my first component:</h2>
  <app-my-component></app-my-component>
  <p>Writing from out of my first component</p>
</div> -->

<!-- Muestra de routing con los componentes members y products
<a routerLink="/members">Members</a>
<a routerLink="/products">Products</a>

<router-outlet></router-outlet> -->


<!-- Comenzando con condiciones y templates
<div class="elem">
  <h2>Testing Data Bind:</h2>
  <p>
    {{obj.name}}
  </p>
</div>
<div class="elem">
  <h2>Testing Data Binding 2 (mala praxis):</h2>
  <p>
    {{arr[0]}}
    {{arr[1]}}
    {{arr[2]}}
  </p>
</div>

<!-- Mirar las funciones disponibles en la api, aquí
se muestran algunos ejemplos de funciones sencillas --
<div class="elem">
  <h2>Testing Data Binding 2 Correct!:</h2>
  <li *ngFor = "let i of arr">{{i}}</li>
</div>

<div class="elem">
  <h2>IF a través de *ngIf = "nombre_variable"</h2>
  <p *ngIf = "isTrue">La variable es verdadera, pues, muestro esto.</p>
  <p *ngIf = "myName == 'Jacobo'; else firstTemplate">Hola Jacobo!</p>
  <ng-template #firstTemplate>¿Quién eres tú?</ng-template>
</div> -->

<div class="elem">
  <h2>Comenzando con double templates:</h2>
  <ng-template #JacoTemplate>Hola Jacobo</ng-template>
  <ng-template #GenteTemplate>¿Quién eres tú?</ng-template>
  <p *ngIf = "myName == 'Jacobo'; then JacoTemplate else GenteTemplate"></p>
</div>

<!-- <div class="elem">
  <h2>Parte de pipes:</h2>
  <p>Mostrando en mayúsculas: {{ arr[0] | uppercase}}</p>
  <p>Mostrando en minúsculas: {{ arr[0] | lowercase}}</p>
  <h4>Pipes con fechas:</h4>
  <p>Sin pipe: {{dat}}</p>
  <p>Pipe date: {{dat | date}}</p>
  <p>Pipe date parameters shortDate: {{dat | date: "shortDate"}}</p>
  <p>Pipe date parameters longDate: {{dat | date: "longDate"}}</p>
  <p>Triple pipe: {{dat | date: "longDate" | uppercase}}</p>
</div> -->

<div class="elem">
  <h2>Pipe personalizado:</h2>
  <p>Ordenando ascendentemente:</p>
  <p>{{nums | sorti: 'asc'}}</p>
  <p>Ordenando descendentemente:</p>
  <p>{{nums | sorti: 'desc'}}</p>
</div>


<!--
Tutos a ver:
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
